In [1]:
import pandas as pd
import numpy as np

In [2]:
imdb=pd.read_csv('final_data.csv')

In [3]:
imdb.head()

,tconst,originalTitle,year,genres,Rating,director,actors,description
0,tt11545370,Mission Ulja Funk,2021.0,"Adventure,Family",6.9,Barbara Kronenberg,"Jonas Oeßel, Luc Feit, Ivan Shvedoff, Peter Tr...",Plot not available
1,tt11547828,Echoes of Violence,2021.0,"Crime,Drama,Thriller",5.2,Nicholas Woods,"Heston Horwin, Chase Cargill, Taylor Flowers, ...",A man with a fragile state of mind will battle...
2,tt11547982,The 2:11 Home,2021.0,Family,5.5,Jim Huggins,"Geno Romo, Edward Stiner, Nick Dent, Burke Sag...","12 year old astronomy geek Uja, armed with a s..."
3,tt11548822,Cow,2021.0,Documentary,7.1,Andrea Arnold,NaN,An honest policeman's quest to nab a dreaded c...
4,tt11552344,Murder at Yellowstone City,2022.0,"Crime,Drama,Mystery",5.3,Richard Gray,"Isaiah Mustafa, Zach McGowan, Thomas Jane, Ron...","The simple question: ""How does a woman get pre..."

In [4]:
data=imdb[['tconst','originalTitle','description','genres','actors','director']]

In [5]:
data.head()

,tconst,originalTitle,description,genres,actors,director
0,tt11545370,Mission Ulja Funk,Plot not available,"Adventure,Family","Jonas Oeßel, Luc Feit, Ivan Shvedoff, Peter Tr...",Barbara Kronenberg
1,tt11547828,Echoes of Violence,A man with a fragile state of mind will battle...,"Crime,Drama,Thriller","Heston Horwin, Chase Cargill, Taylor Flowers, ...",Nicholas Woods
2,tt11547982,The 2:11 Home,"12 year old astronomy geek Uja, armed with a s...",Family,"Geno Romo, Edward Stiner, Nick Dent, Burke Sag...",Jim Huggins
3,tt11548822,Cow,An honest policeman's quest to nab a dreaded c...,Documentary,NaN,Andrea Arnold
4,tt11552344,Murder at Yellowstone City,"The simple question: ""How does a woman get pre...","Crime,Drama,Mystery","Isaiah Mustafa, Zach McGowan, Thomas Jane, Ron...",Richard Gray

In [6]:
data.loc[:,'description']=data['description'].apply(lambda x: x.replace("Plot not available","")  if isinstance(x, str) else x )

In [7]:
data.head()

,tconst,originalTitle,description,genres,actors,director
0,tt11545370,Mission Ulja Funk,,"Adventure,Family","Jonas Oeßel, Luc Feit, Ivan Shvedoff, Peter Tr...",Barbara Kronenberg
1,tt11547828,Echoes of Violence,A man with a fragile state of mind will battle...,"Crime,Drama,Thriller","Heston Horwin, Chase Cargill, Taylor Flowers, ...",Nicholas Woods
2,tt11547982,The 2:11 Home,"12 year old astronomy geek Uja, armed with a s...",Family,"Geno Romo, Edward Stiner, Nick Dent, Burke Sag...",Jim Huggins
3,tt11548822,Cow,An honest policeman's quest to nab a dreaded c...,Documentary,NaN,Andrea Arnold
4,tt11552344,Murder at Yellowstone City,"The simple question: ""How does a woman get pre...","Crime,Drama,Mystery","Isaiah Mustafa, Zach McGowan, Thomas Jane, Ron...",Richard Gray

In [8]:
data['description'].isnull().sum()

159

In [9]:
data.loc[:,'description'] = data['description'].fillna('')

In [10]:
data.isnull().sum()

tconst              0
originalTitle       0
description         0
genres              0
actors           4024
director          420
dtype: int64

In [11]:
data.loc[:,'actors'] = data['actors'].fillna('')
data.loc[:,'director'] = data['director'].fillna('')

In [12]:
data.isnull().sum()

tconst           0
originalTitle    0
description      0
genres           0
actors           0
director         0
dtype: int64

In [13]:
data.loc[:,'description']=data.loc[:,'description'].apply(lambda x:x.split())

In [14]:
data.loc[:,'genres']=data.loc[:,'genres'].apply(lambda x:x.split(','))
data.loc[:,'actors']=data.loc[:,'actors'].apply(lambda x:x.split(','))
data.loc[:,'director']=data.loc[:,'director'].apply(lambda x:x.split(','))

In [15]:
data.head()

,tconst,originalTitle,description,genres,actors,director
0,tt11545370,Mission Ulja Funk,[],"[Adventure, Family]","[Jonas Oeßel, Luc Feit, Ivan Shvedoff, Pete...",[Barbara Kronenberg]
1,tt11547828,Echoes of Violence,"[A, man, with, a, fragile, state, of, mind, wi...","[Crime, Drama, Thriller]","[Heston Horwin, Chase Cargill, Taylor Flower...",[Nicholas Woods]
2,tt11547982,The 2:11 Home,"[12, year, old, astronomy, geek, Uja,, armed, ...",[Family],"[Geno Romo, Edward Stiner, Nick Dent, Burke...",[Jim Huggins]
3,tt11548822,Cow,"[An, honest, policeman's, quest, to, nab, a, d...",[Documentary],[],[Andrea Arnold]
4,tt11552344,Murder at Yellowstone City,"[The, simple, question:, ""How, does, a, woman,...","[Crime, Drama, Mystery]","[Isaiah Mustafa, Zach McGowan, Thomas Jane, ...",[Richard Gray]

In [16]:
data['genres']=data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['actors']=data['actors'].apply(lambda x:[i.replace(" ","") for i in x])
data['director']=data['director'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\547659643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres']=data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\547659643.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['actors']=data['actors'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\547659643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['director']=data['director'].apply(lambda x:[i.replace(" ","") for i in x])

In [17]:
data.head()

,tconst,originalTitle,description,genres,actors,director
0,tt11545370,Mission Ulja Funk,[],"[Adventure, Family]","[JonasOeßel, LucFeit, IvanShvedoff, PeterTrabner]",[BarbaraKronenberg]
1,tt11547828,Echoes of Violence,"[A, man, with, a, fragile, state, of, mind, wi...","[Crime, Drama, Thriller]","[HestonHorwin, ChaseCargill, TaylorFlowers, Sa...",[NicholasWoods]
2,tt11547982,The 2:11 Home,"[12, year, old, astronomy, geek, Uja,, armed, ...",[Family],"[GenoRomo, EdwardStiner, NickDent, BurkeSage, ...",[JimHuggins]
3,tt11548822,Cow,"[An, honest, policeman's, quest, to, nab, a, d...",[Documentary],[],[AndreaArnold]
4,tt11552344,Murder at Yellowstone City,"[The, simple, question:, ""How, does, a, woman,...","[Crime, Drama, Mystery]","[IsaiahMustafa, ZachMcGowan, ThomasJane, RonGa...",[RichardGray]

In [18]:
data['tag']=data['description']+data['genres']+data['actors']+data['director']

C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\2419143934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tag']=data['description']+data['genres']+data['actors']+data['director']

In [19]:
data.head()

,tconst,originalTitle,description,genres,actors,director,tag
0,tt11545370,Mission Ulja Funk,[],"[Adventure, Family]","[JonasOeßel, LucFeit, IvanShvedoff, PeterTrabner]",[BarbaraKronenberg],"[Adventure, Family, JonasOeßel, LucFeit, IvanS..."
1,tt11547828,Echoes of Violence,"[A, man, with, a, fragile, state, of, mind, wi...","[Crime, Drama, Thriller]","[HestonHorwin, ChaseCargill, TaylorFlowers, Sa...",[NicholasWoods],"[A, man, with, a, fragile, state, of, mind, wi..."
2,tt11547982,The 2:11 Home,"[12, year, old, astronomy, geek, Uja,, armed, ...",[Family],"[GenoRomo, EdwardStiner, NickDent, BurkeSage, ...",[JimHuggins],"[12, year, old, astronomy, geek, Uja,, armed, ..."
3,tt11548822,Cow,"[An, honest, policeman's, quest, to, nab, a, d...",[Documentary],[],[AndreaArnold],"[An, honest, policeman's, quest, to, nab, a, d..."
4,tt11552344,Murder at Yellowstone City,"[The, simple, question:, ""How, does, a, woman,...","[Crime, Drama, Mystery]","[IsaiahMustafa, ZachMcGowan, ThomasJane, RonGa...",[RichardGray],"[The, simple, question:, ""How, does, a, woman,..."

In [20]:
df=data[['tconst','originalTitle','tag']]

In [21]:
df.head()

,tconst,originalTitle,tag
0,tt11545370,Mission Ulja Funk,"[Adventure, Family, JonasOeßel, LucFeit, IvanS..."
1,tt11547828,Echoes of Violence,"[A, man, with, a, fragile, state, of, mind, wi..."
2,tt11547982,The 2:11 Home,"[12, year, old, astronomy, geek, Uja,, armed, ..."
3,tt11548822,Cow,"[An, honest, policeman's, quest, to, nab, a, d..."
4,tt11552344,Murder at Yellowstone City,"[The, simple, question:, ""How, does, a, woman,..."

In [22]:
df['tag']=df['tag'].apply(lambda x:" ".join(x))

C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\2273421580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag']=df['tag'].apply(lambda x:" ".join(x))

In [23]:
df.head()

,tconst,originalTitle,tag
0,tt11545370,Mission Ulja Funk,Adventure Family JonasOeßel LucFeit IvanShvedo...
1,tt11547828,Echoes of Violence,A man with a fragile state of mind will battle...
2,tt11547982,The 2:11 Home,"12 year old astronomy geek Uja, armed with a s..."
3,tt11548822,Cow,An honest policeman's quest to nab a dreaded c...
4,tt11552344,Murder at Yellowstone City,"The simple question: ""How does a woman get pre..."

In [24]:
df['tag']=df['tag'].apply(lambda x:x.lower())

C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\1341333692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag']=df['tag'].apply(lambda x:x.lower())

In [25]:
df.head()

,tconst,originalTitle,tag
0,tt11545370,Mission Ulja Funk,adventure family jonasoeßel lucfeit ivanshvedo...
1,tt11547828,Echoes of Violence,a man with a fragile state of mind will battle...
2,tt11547982,The 2:11 Home,"12 year old astronomy geek uja, armed with a s..."
3,tt11548822,Cow,an honest policeman's quest to nab a dreaded c...
4,tt11552344,Murder at Yellowstone City,"the simple question: ""how does a woman get pre..."

In [26]:
df.iloc[0]

tconst                                                  tt11545370
originalTitle                                    Mission Ulja Funk
tag              adventure family jonasoeßel lucfeit ivanshvedo...
Name: 0, dtype: object

In [27]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [28]:
def stemming(s):
    l=[]
    for i in s.split():
        l.append(ps.stem(i))
    return " ".join(l)

In [29]:
df['tag']=df['tag'].apply(stemming)

C:\Users\abhi9\AppData\Local\Temp\ipykernel_21708\2267861769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag']=df['tag'].apply(stemming)

In [30]:
df['tag'][5]

'an immigr travel from sedona to lo angel to seek reveng against the immigr lawyer who ruin her life. drama alirezaaminatae farhadmesbah maryamzahirimehr'

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [32]:
vectors=cv.fit_transform(df['tag']).toarray()

In [33]:
vectors.shape

(56249, 5000)

In [34]:
len(vectors)

56249

In [35]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Set a chunk size based on memory constraints
chunk_size = 1000
num_vectors = len(vectors)

# Create a DataFrame to hold the similarity results temporarily
similarity_df = pd.DataFrame(index=range(num_vectors), columns=range(num_vectors))

for start in range(0, num_vectors, chunk_size):
    end = min(start + chunk_size, num_vectors)
    
    # Compute cosine similarity for the current chunk (rows [start:end] with all rows)
    similarity_chunk = cosine_similarity(vectors[start:end], vectors)
    
    # Store the chunk in the DataFrame
    similarity_df.iloc[start:end, :] = similarity_chunk

# Save the DataFrame to a CSV file
similarity_df.to_csv('similarity_matrix.csv', index=False)

MemoryError: Unable to allocate 23.6 GiB for an array with shape (56249, 56249) and data type float64